@model IEnumerable<KShop.Models.SANPHAM>

@{
    ViewBag.Title = "Sptheotl";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="small-container">
    <h2 class="title">Sản phẩm theo thể loại</h2>
    <div class="row">
        @foreach (var sp in Model)
        {
            <div class="col-4">
                <a href="@Url.Action("ChitietSP", "KShop", new { id = sp.MaSP})">
                    <img alt="@sp.TenSP" src="~/IMG/@sp.Anhbia">
                    <a href="products_detal.html"><h4>@sp.TenSP</h4></a>
                    <div class="rating">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </p>
                    </div>
                    <p>@sp.Giaban₫</p>
            </div>
        }
    </div>
</div>

